USE [AGENDA]
GO
/****** Object:  Table [dbo].[DATOS]    Script Date: 07/10/2021 01:43:32 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DATOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[TELEFONO] [varchar](10) NULL,
	[CORREO] [varchar](100) NULL,
 CONSTRAINT [PK__DATOS__3214EC279DB81B2B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DATOS] ON 

INSERT [dbo].[DATOS] ([ID], [NOMBRE], [TELEFONO], [CORREO]) VALUES (9, N'Jesus modificado', N'4444', N'prueba.com')
INSERT [dbo].[DATOS] ([ID], [NOMBRE], [TELEFONO], [CORREO]) VALUES (11, N'Jesus rafael dorantes', N'4444', N'prueba.com')
SET IDENTITY_INSERT [dbo].[DATOS] OFF
GO
